:root {
	font-family: Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

	--button-normal-color: hsl(204, 85%, 40%);
	--button-hover-color: hsl(204, 85%, 35%);
	--button-active-color: hsl(204, 85%, 30%);

	--button-normal-color-light: hsl(204, 85%, 96%);
	--button-hover-color-light: hsl(204, 85%, 93%);

	--half-transparent: rgba(0, 0, 0, 0.5);

	--popup-z-index: 100;
	--local-video-z-index: 200;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

button,
input,
textarea,
select {
	font: inherit;
}

[hidden] {
	display: none !important;
}

video::-webkit-media-controls-timeline {
	display: none;
}
video:not(.started) {
	background-color: rgba(0, 0, 0, 0.8);
}

dialog {
	padding: 0;
	border: none;
	box-shadow: 0 0 8px var(--half-transparent);

	/* Why you can scroll the content behind the dialog??? */
	overscroll-behavior: contain;
}
dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.2);
}
@media (prefers-reduced-motion: no-preference) {
	dialog {
		transition: 0.2s;
	}
	dialog::backdrop {
		transition: 0.2s;
	}
	/* Not using it directly on modal is because transition can't work with display none */
	/* :modal is not supported on firefox yet, use open attribute for now */
	dialog[open].closed {
		scale: 95%;
		opacity: 0;
	}
	dialog[open].closed::backdrop {
		opacity: 0;
	}
}

select {
	text-align: center;
	border: 1px solid var(--half-transparent);
	border-radius: 0;
	outline: none;
	padding: 0.4em 0.7em;
	cursor: pointer;
	background-color: white;
}
select:focus {
	border-color: var(--button-normal-color);
}

button {
	display: inline-flex;
}
:where(button) {
	padding: 0.5em 0.8em;
	border: none;
	cursor: pointer;
	color: white;
	background-color: var(--button-normal-color);

	-webkit-tap-highlight-color: transparent;
}
@media (hover: hover) {
	:where(button:hover) {
		background-color: var(--button-hover-color);
	}
}
:where(button:active, button.ontouch) {
	background-color: var(--button-active-color);
}

input {
	padding: 0.4em;
	border: 1px solid var(--half-transparent);
	outline: none;
}
input:focus {
	border-color: var(--button-normal-color);
}
input:invalid {
	border-color: brown;
}
input[type='checkbox'] {
	outline: revert;
	cursor: pointer;
	margin: 0;
	accent-color: var(--button-normal-color);
}

code {
	font-family: Consolas, monospace;
	text-align: start;
}

main {
	height: 100vh;
	height: 100svh;

	display: grid;
	grid-template-rows: min-content min-content auto;
	gap: 1em;
}

footer {
	margin: 1em 0;
	text-align: center;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

.flex-center {
	place-content: center;
	place-items: center;
}

#pc-control-div {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	gap: 1em;

	margin-top: 1.75em;
	margin-bottom: 0.75em;
}
#pc-control-div > button {
	font-size: 1.5em;
}
#start-button {
	grid-column-start: 2;
}
#config-ice {
	justify-self: left;
}

#connection-state-indicator {
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
}

#device-select-div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

#device-select-div > div {
	display: flex;
	width: 300px;
	height: 40px;
}
#device-select-div > div > *,
#device-select-div option {
	background-color: var(--button-normal-color-light);
}
@media (hover: hover) {
	#device-select-div > div > *:hover,
	#device-select-div > div > *:focus-visible {
		background-color: var(--button-hover-color-light);
	}
}
#device-select-div button {
	font-size: 1.3em;
}
#device-select-div select {
	border: none;
	flex-grow: 1;
}
#device-select-div select:not(:first-child) {
	border-left: white solid 1px;
}

/* .text-button {
	font-size: 1.2em;
	padding: 4px;
	border: none;
	font-weight: bold;
	color: var(--button-normal-color);
	background: none;
	cursor: pointer;
}
@media (hover: hover) {
	.text-button:hover {
		color: var(--button-hover-color);
		background: none;
	}
}
.text-button:active,
.text-button.ontouch {
	color: var(--button-active-color);
	background: none;
} */

.icon-button {
	/* For the icon inside */
	justify-content: center;
	align-items: center;

	padding: 0.5em;

	color: var(--button-normal-color);
	background-color: transparent;
	/* background-clip: padding-box; */

	cursor: pointer;
	user-select: none;

	/* border: 1px solid transparent; */
	/* border-radius: 50%; */

	/* For pseudo elements */
	position: relative;
}
/*
For after click animation

::before is for background
::after is for border

Not doing this on the element it self is
because it's impossible to do transition/animation only on switching state away from :active
*/
.icon-button::before,
.icon-button::after {
	content: '';

	position: absolute;
	inset: 0;

	background-color: transparent;
	/* background-clip: padding-box; */

	border: 1px solid transparent;
	border-radius: inherit;

	/* Desktop web YouTube */
	transition: background-color ease-out 0.1s, border-color ease-in-out 0.4s;
	/* Android YouTube app (1/6s, 1/3s) */
	/* transition: background-color 0.17s, border-color 0.33s; */
}
.icon-button:active::before,
.icon-button.ontouch::before,
.icon-button:active::after,
.icon-button.ontouch::after {
	transition: none;
}
.icon-button:active::before,
.icon-button.ontouch::before {
	background-color: rgba(0, 0, 0, 0.1);
}
.icon-button:active::after,
.icon-button.ontouch::after {
	opacity: 0;
	border-color: rgba(0, 0, 0, 0.2);
}
@media (hover: hover) {
	.icon-button:hover {
		color: var(--button-hover-color);
		background-color: rgba(0, 0, 0, 0.1);
	}
}
.icon-button:active,
.icon-button.ontouch {
	color: var(--button-active-color);
}

.video-container {
	margin-bottom: 1em;

	display: flex;
	justify-content: center;
	align-items: stretch;
	/* Doesn't work on Firefox without this */
	overflow: hidden;

	/* max-height: 70vh; */
	/* background-color: rgba(0, 0, 0, 0.8); */
}

.video-container video:not(.started) {
	/* width: 100%; */
	/* height: 100%; */
	/* max-width: 100%; */
	/* max-width: 1200px; */
	/* max-height: 100%; */
	aspect-ratio: 16 / 9;
	/* margin: auto; */
}

#local-video-wrapper {
	position: fixed;
	top: 0;
	right: 0;

	display: grid;
	align-items: stretch;

	box-shadow: 0 0 8px var(--half-transparent);

	z-index: var(--local-video-z-index);

	touch-action: none;
}

#local-video-wrapper:not(.fullscreen) #local-video {
	max-width: 300px;
	max-height: 300px;
}

@media (width < 500px) {
	#local-video-wrapper:not(.fullscreen) #local-video {
		max-width: 200px;
		max-height: 200px;
	}
}

#local-video-wrapper.fullscreen #local-video {
	max-height: 100vh;
}

#local-video-wrapper.picture-in-picture {
	display: none;
}

#local-video-wrapper .controls-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 2.5em;

	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.67)) repeat-x bottom;

	display: flex;
	flex-direction: row-reverse;

	z-index: inherit;

	/* Chrome only, progressive enhancement */
	transition: display 200ms allow-discrete, opacity 200ms allow-discrete;
}

/* Chrome only, progressive enhancement */
@starting-style {
	#local-video-wrapper .controls-wrapper {
		opacity: 0;
	}
}

#local-video-wrapper .controls-wrapper.hide,
#local-video-wrapper.dragging .controls-wrapper {
	display: none;
	opacity: 0;
}

#local-video-wrapper .controls-wrapper .icon-button {
	color: hsl(0, 0%, 93%);
	font-size: 2em;
	padding: 0.4em;
}

#local-video-wrapper .controls-wrapper .icon-button:active::before,
#local-video-wrapper .controls-wrapper .icon-button.ontouch::before {
	background-color: rgba(255, 255, 255, 0.1);
}
#local-video-wrapper .controls-wrapper .icon-button:active::after,
#local-video-wrapper .controls-wrapper .icon-button.ontouch::after {
	border-color: rgba(255, 255, 255, 0.2);
}

@media (hover: hover) {
	#local-video-wrapper .controls-wrapper .icon-button:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

#local-video-wrapper.fullscreen .controls-wrapper {
	font-size: 1.5em;
}

#welcome-dialog > form {
	padding: 2em 1em;
	max-width: 450px;
	text-align: center;
}
#welcome-dialog > form > h2 {
	margin-top: 0;
	margin-bottom: 1.5em;
}

#config-ice-dialog {
	max-width: 100%;
	max-height: 80%;
}
#config-ice-dialog > div {
	flex-direction: column;
	padding: 2em;
}
@media (width < 500px) {
	#config-ice-dialog > div {
		padding: 2em 1em;
	}
}
.import-container {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	padding: 0 1em;
	max-width: 100%;
}
.import-container input {
	flex-grow: 1;
	overflow: auto;
}
#ice-server-container {
	width: 500px;
	max-width: 100%;
	max-height: 50vh;
	overflow: auto;
}
#ice-server-container > div {
	display: flex;
	justify-content: space-between;
	gap: 1em;
	text-align: left;
	max-width: 100%;
	padding: 0.5em;
}
#ice-server-container > div:not(:first-child) {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#ice-server-container label {
	flex-grow: 1;
	flex-wrap: nowrap;
	cursor: pointer;
	overflow: auto;

	display: flex;
	align-items: center;
	gap: 1em;
}
#ice-server-container label span {
	overflow-wrap: break-word;
	overflow: auto;
}
#ice-server-container input[type='checkbox'] {
	margin-left: revert;
}
#ice-server-container .button-container {
	display: flex;
	flex-wrap: nowrap;
	font-size: 1.1em;
}

#add-ice-dialog {
	width: 325px;
}
#add-ice-dialog > form {
	flex-direction: column;
	gap: 2em;
	padding: 2em;
}
.form-input-container {
	flex-direction: column;
	gap: 1.5em;
}
.form-input-container > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: left;
}

#export-ice-dialog {
	width: 500px;
}

.export-container {
	padding: 2em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.export-container > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	background-color: #f6f8fa; /* Color from Github --color-canvas-subtle */
	padding: 1em;
}

.export-container code {
	display: block;
	overflow: auto;
	overflow-wrap: break-word;
	font-size: 0.9em;
	line-height: 1.45;
}

.export-container button {
	font-size: 1.3em;
}

.copy-button > span {
	--copy-icon: url(iconify-icon:mdi/content-copy);
	--check-icon: url(iconify-icon:mdi/check);
	width: 1em;
	height: 1em;
	background-color: currentColor;
	mask-image: var(--copy-icon);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

.copy-button.success > span {
	animation: zoom-fade linear, swap-icon step-end, zoom-fade linear, swap-icon step-end;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-delay: 0s, 0s, 2s, 2s;
	animation-direction: normal, normal, reverse, reverse;
}

@media (prefers-reduced-motion: reduce) {
	.copy-button.success > span {
		animation-duration: 0s;
	}
}

@keyframes zoom-fade {
	0% {
		scale: 100%;
		opacity: 1;
	}
	50% {
		scale: 60%;
		opacity: 0.6;
	}
	100% {
		scale: 100%;
		opacity: 1;
	}
}

@keyframes swap-icon {
	0% {
		mask-image: var(--copy-icon);
	}
	50% {
		mask-image: var(--check-icon);
	}
	100% {
		mask-image: var(--check-icon);
	}
}

#share-url-popup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: var(--popup-z-index);

	width: max-content;
	box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, 0.15);
	background-color: white;
}

@media (width < 500px) {
	#share-url-popup {
		width: 100vw;
	}
}

@media (prefers-reduced-motion: no-preference) {
	#share-url-popup {
		transition: 0.3s;
	}

	/* Not using it directly on modal is because transition can't work with display none */
	#share-url-popup[open].closed {
		scale: unset;
		translate: 0 3em;
	}
}

#share-url-popup > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
	margin: 1em;
}

#share-url-popup button {
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 0.5em;
}

#share-url-popup svg {
	font-size: 2em;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0s;
}

.shown-after-call,
.hidden-after-call {
	view-transition-name: default-transition;
}

::view-transition-old(default-transition),
::view-transition-new(default-transition) {
	animation-duration: 0.3s;
}
