:root {
	text-align: center;
}

[hidden] {
	display: none !important;
}

video {
	width: 100%;
}

code {
	font-family: Consolas;
}

button {
	padding: 0.3em 0.5em;
}

#current-ice {
	max-width: 100%;
	word-wrap: break-word;
}

#pc-config-div {
	flex-direction: column;
}

#pc-config-div,
#pc-control-div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 4px;
}

#view-source,
#pc-config-div *,
#pc-control-div * {
	margin: 4px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.video-container {
	margin: 8px;
	gap: 1em;
}

.video-container > div {
	flex-grow: 1;
	flex-basis: 400px;
}
