:root {
	font-family: Arial, sans-serif;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

	--button-normal-color: hsl(204, 85%, 40%);
	--button-hover-color: hsl(204, 85%, 35%);
	--button-active-color: hsl(204, 85%, 30%);
	--half-transparent: rgba(0, 0, 0, 0.5);
}

[hidden] {
	display: none !important;
}

video {
	width: 100%;
}

dialog {
	border: 1px solid var(--button-normal-color);
}

select {
	border: 1px solid var(--half-transparent);
	outline: none;
	padding: 0.4em 0.7em;
	cursor: pointer;
	font-size: 16px;
	background-color: white;
}

button {
	padding: 0.5em 0.8em;
	border: none;
	cursor: pointer;
	color: white;
	background-color: var(--button-normal-color);
}
button:hover,
button.ontouch {
	background-color: var(--button-hover-color);
}
button:active {
	background-color: var(--button-active-color);
}

input {
	font-size: 14px;
	padding: 4px;
	border: 1px solid var(--half-transparent);
	outline: none;
}
input:focus {
	border-color: var(--button-normal-color);
}

#current-ice {
	max-width: 100%;
	word-wrap: break-word;
	padding: 4px;
	border: none;
	font-size: 28px;
	font-weight: bold;
	color: var(--button-normal-color);
	background: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}
#current-ice:hover,
#current-ice.ontouch {
	color: var(--button-hover-color);
}
#current-ice:active {
	color: var(--button-active-color);
}
#current-ice:enabled::after {
	margin: 0.5em;
	content: url('https://api.iconify.design/codicon/edit.svg');
}
#current-ice:disabled {
	cursor: default;
	color: unset;
}

#pc-control-div > button {
	font-size: 16px;
}

#device-select-div > div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 0.5em;
	/* text-align: left; */
}
#device-select-div > div > select {
	min-width: 150px;
}

.text-button {
	font-size: 1.2em;
	padding: 4px;
	border: none;
	font-weight: bold;
	color: var(--button-normal-color);
	background: none;
	cursor: pointer;
}
.text-button:hover,
.text-button.ontouch {
	color: var(--button-hover-color);
	background: none;
}
.text-button:active {
	color: var(--button-active-color);
	background: none;
}

.flex-container,
body > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1em;
}

body > div {
	margin-top: 1em;
	margin-bottom: 1em;
}

.video-container {
	margin-left: 1vw;
	margin-right: 1vw;
}

.video-container > div {
	flex-grow: 1;
	flex-basis: 400px;
}

#welcome-dialog > form {
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 450px;
}
#welcome-dialog > form > h2 {
	margin-top: 0;
	margin-bottom: 1.5em;
}
#welcome-dialog > form > button {
	font-size: 16px;
}

#ice-setting-dialog {
	padding: 0;
}
#ice-setting-dialog > form {
	flex-direction: column;
	gap: 2em;
	padding: 2em;
}
.form-input-container {
	flex-direction: column;
}
.form-input-container > div {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: left;
}
