:where(.custom-video) {
	position: relative;

	display: flex;
	align-items: stretch;

	--video-control-button-color: hsl(0, 0%, 90%);
	--video-control-button-disabled-color: hsl(0, 0%, 70%);
}

.custom-video:not(.started) {
	background-color: hsl(0, 0%, 20%);
}

.custom-video video {
	width: 100%;
	height: 100%;
}

/* .custom-video.picture-in-picture {
	display: none;
} */

.custom-video .controls-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: display 200ms, opacity 200ms;
	/* Chrome only, progressive enhancement */
	transition-behavior: allow-discrete !important;
}

.custom-video .controls-wrapper::after {
	content: '';
	position: absolute;
	top: -100%;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.67)) repeat-x bottom;
	pointer-events: none;
	z-index: -1;
}

:where(.custom-video):not(.started) .controls-wrapper {
	opacity: 0.5;
}

:where(.custom-video).started.hide-controls {
	cursor: none;
}

:where(.custom-video).started.hide-controls .controls-wrapper {
	pointer-events: none;
	opacity: 0;
}

:where(.custom-video) .controls-wrapper .right-controls {
	display: flex;
	flex-direction: row-reverse;
}

.custom-video .controls-wrapper .icon-button {
	color: var(--video-control-button-color);
	font-size: 2em;
	padding: 0.4em;
}

.custom-video .controls-wrapper .icon-button svg path {
	stroke: rgba(0, 0, 0, 0.15);
	stroke-width: 2px;
	paint-order: stroke;
}

/* Don't know why fullscreen svg icon is a little bit smaller than others */
.custom-video .controls-wrapper .fullscreen-button svg path {
	scale: 1.1;
	transform-origin: center;
}

.custom-video .controls-wrapper .icon-button:not(:disabled):active::before,
.custom-video .controls-wrapper .icon-button:not(:disabled).ontouch::before {
	background-color: rgba(255, 255, 255, 0.1);
}
.custom-video .controls-wrapper .icon-button:not(:disabled):active::after,
.custom-video .controls-wrapper .icon-button:not(:disabled).ontouch::after {
	border-color: rgba(255, 255, 255, 0.2);
}

@media (hover: hover) {
	.custom-video .controls-wrapper .icon-button:not(:disabled):hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

/* .custom-video.fullscreen .controls-wrapper {
	font-size: 1.5em;
} */

.custom-video .audio-controls {
	display: flex;
	align-items: center;
}

.custom-video .audio-button:disabled {
	cursor: unset;
	--video-control-button-color: var(--video-control-button-disabled-color);
}

.custom-video .audio-slider {
	--progress: 0%;
	--background-color: hsl(0, 0%, 30%);

	appearance: none;
	cursor: pointer;
	border: none;

	width: 5em;
	height: 0.3em;
	background: linear-gradient(
		to right,
		var(--video-control-button-color) var(--progress),
		var(--background-color) var(--progress)
	);
	/* border-radius: 1em; */
}

.custom-video .audio-slider:disabled {
	cursor: unset;
	--video-control-button-color: var(--video-control-button-disabled-color);
}

.custom-video .audio-slider::-webkit-slider-runnable-track,
.custom-video .audio-slider::-moz-range-track {
	appearance: none;
}

.custom-video .audio-slider::-webkit-slider-thumb,
.custom-video .audio-slider::-moz-range-thumb {
	appearance: none;
	border: none;

	height: 1em;
	width: 1em;
	border-radius: 50%;
	background-color: var(--video-control-button-color);
}
