recent-room {
	display: flex;
    height: 2em;
}

recent-room .separator {
	background-color: white;
	height: 100%;
    width: 1px;
}

recent-room .pin-button  {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    width: 2em;
    height: 2em;
}

recent-room .pin-button svg {
	rotate: 45deg;
    opacity: 0.5;
}

recent-room.pinned .pin-button svg {
    opacity: 1;
}
