custom-video {
	position: relative;

	display: flex;
	align-items: stretch;
}

custom-video:not(.started) {
	background-color: hsl(0, 0%, 20%);
}

/* custom-video.picture-in-picture {
	display: none;
} */

custom-video .controls-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;

	display: flex;
	justify-content: space-between;
    align-items: center;

	transition: display 200ms, opacity 200ms;
	/* Chrome only, progressive enhancement */
	transition-behavior: allow-discrete !important;
}

custom-video .controls-wrapper::after {
	content: '';
	position: absolute;
	top: -2.5em;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.67)) repeat-x bottom;
	pointer-events: none;
	z-index: -1;
}

custom-video.hide-controls {
	cursor: none;
}

custom-video.hide-controls .controls-wrapper {
	pointer-events: none;
	opacity: 0;
}

custom-video .controls-wrapper .right-controls {
	display: flex;
	flex-direction: row-reverse;
}

custom-video .controls-wrapper .icon-button {
	color: hsl(0, 0%, 93%);
	font-size: 2em;
	padding: 0.4em;
}

custom-video .controls-wrapper .icon-button:active::before,
custom-video .controls-wrapper .icon-button.ontouch::before {
	background-color: rgba(255, 255, 255, 0.1);
}
custom-video .controls-wrapper .icon-button:active::after,
custom-video .controls-wrapper .icon-button.ontouch::after {
	border-color: rgba(255, 255, 255, 0.2);
}

@media (hover: hover) {
	custom-video .controls-wrapper .icon-button:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

/* custom-video.fullscreen .controls-wrapper {
	font-size: 1.5em;
} */

custom-video .audio-controls {
    display: flex;
}

custom-video .audio-button {
}

custom-video .audio-slider {
}
