#local-video-wrapper {
	position: fixed;
	top: 0;
	right: 0;

	display: flex;
	align-items: stretch;

	box-shadow: 0 0 8px var(--half-transparent);

	z-index: var(--local-video-z-index);

	touch-action: none;

	transition: scale 200ms;
}

#local-video-wrapper:not(.fullscreen) #local-video {
	max-width: 300px;
	max-height: 300px;
}

@media (width < 500px) {
	#local-video-wrapper:not(.fullscreen) #local-video {
		max-width: 200px;
		max-height: 200px;
	}
}

#local-video-wrapper.fullscreen #local-video {
	width: 100%;
}

#local-video-wrapper.picture-in-picture {
	display: none;
}

#local-video-wrapper .controls-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row-reverse;

	z-index: inherit;

	transition: display 200ms, opacity 200ms;
	/* Chrome only, progressive enhancement */
	transition-behavior: allow-discrete !important;
}

#local-video-wrapper .controls-wrapper::after {
	content: '';
	position: absolute;
	top: -2.5em;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.67)) repeat-x bottom;
	pointer-events: none;
	z-index: -1;
}

#local-video-wrapper.hide-controls:not(.stash) {
	cursor: none;
}

#local-video-wrapper.hide-controls .controls-wrapper,
#local-video-wrapper.dragging .controls-wrapper {
	pointer-events: none;
	opacity: 0;
}

#local-video-wrapper.dragging .controls-wrapper,
#local-video-wrapper.stash .controls-wrapper {
	display: none;
}

#local-video-wrapper .controls-wrapper .icon-button {
	color: hsl(0, 0%, 93%);
	font-size: 2em;
	padding: 0.4em;
}

#local-video-wrapper .controls-wrapper .icon-button:active::before,
#local-video-wrapper .controls-wrapper .icon-button.ontouch::before {
	background-color: rgba(255, 255, 255, 0.1);
}
#local-video-wrapper .controls-wrapper .icon-button:active::after,
#local-video-wrapper .controls-wrapper .icon-button.ontouch::after {
	border-color: rgba(255, 255, 255, 0.2);
}

@media (hover: hover) {
	#local-video-wrapper .controls-wrapper .icon-button:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

#local-video-wrapper.fullscreen .controls-wrapper {
	font-size: 1.5em;
}

#local-video-wrapper.stash {
	scale: 0.6;
}

#local-video-wrapper .stash-decor {
	position: absolute;
	inset: 0;
	background-color: var(--button-normal-color-light);

	opacity: 0;
	transition: 200ms;
}
#local-video-wrapper .stash-decor::before,
#local-video-wrapper .stash-decor::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
	background-color: gray;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}
#local-video-wrapper .stash-decor::before {
	content: '';
	left: 0;
	mask-image: url(iconify-icon:mdi/chevron-left);
}
#local-video-wrapper .stash-decor::after {
	right: 0;
	mask-image: url(iconify-icon:mdi/chevron-right);
}

#local-video-wrapper.stash .stash-decor {
	opacity: 1;
}
